{:linters {:unresolved-symbol {:exclude [(malli.core/=>)]},
           :type-mismatch {:namespaces {lox.evaluator {evaluate {:arities {2 {:args [:any :sequential], :ret :any}}},
                                                       execute {:arities {2 {:args [:any :sequential], :ret :any}}}},
                                        lox.scanner {scan-token {:arities {1 {:args [{:op :keys,
                                                                                      :opt {:errors :sequential},
                                                                                      :req {:chars :sequential,
                                                                                            :line :int}}],
                                                                              :ret :seqable}}},
                                                     scan {:arities {1 {:args [:string], :ret :seqable}}}},
                                        lox.analyser {analyse-expr {:arities {2 {:args [{:op :keys,
                                                                                         :opt {:errors :sequential},
                                                                                         :req {:function-type :keyword,
                                                                                               :class-type :keyword}}
                                                                                        :any],
                                                                                 :ret :seqable}}},
                                                      analyse-stmt {:arities {2 {:args [{:op :keys,
                                                                                         :opt {:errors :sequential},
                                                                                         :req {:function-type :keyword,
                                                                                               :class-type :keyword}}
                                                                                        :any],
                                                                                 :ret :seqable}}}},
                                        lox.memory {empty-store! {:arities {0 {:args [], :ret :any}}},
                                                    read-store {:arities {1 {:args [:int], :ret :any}}},
                                                    alloc! {:arities {1 {:args [:any], :ret :int}}},
                                                    write-store! {:arities {2 {:args [:int :any], :ret :any}}}},
                                        lox.parser {parse-expression {:arities {1 {:args [{:op :keys,
                                                                                           :opt {:errors :sequential,
                                                                                                 :mode :keyword},
                                                                                           :req {:tokens :sequential}}],
                                                                                   :ret :seqable}}},
                                                    parse-primary {:arities {1 {:args [{:op :keys,
                                                                                        :opt {:errors :sequential,
                                                                                              :mode :keyword},
                                                                                        :req {:tokens :sequential}}],
                                                                                :ret :seqable}}},
                                                    parse-statement {:arities {1 {:args [{:op :keys,
                                                                                          :opt {:errors :sequential,
                                                                                                :mode :keyword},
                                                                                          :req {:tokens :sequential}}],
                                                                                  :ret :seqable}}},
                                                    parse-declaration {:arities {1 {:args [{:op :keys,
                                                                                            :opt {:errors :sequential,
                                                                                                  :mode :keyword},
                                                                                            :req {:tokens :sequential}}],
                                                                                    :ret :seqable}}},
                                                    parse-unary {:arities {1 {:args [{:op :keys,
                                                                                      :opt {:errors :sequential,
                                                                                            :mode :keyword},
                                                                                      :req {:tokens :sequential}}],
                                                                              :ret :seqable}}},
                                                    parse-call {:arities {1 {:args [{:op :keys,
                                                                                     :opt {:errors :sequential,
                                                                                           :mode :keyword},
                                                                                     :req {:tokens :sequential}}],
                                                                             :ret :seqable}}},
                                                    parse-assignment {:arities {1 {:args [{:op :keys,
                                                                                           :opt {:errors :sequential,
                                                                                                 :mode :keyword},
                                                                                           :req {:tokens :sequential}}],
                                                                                   :ret :seqable}}},
                                                    parse {:arities {1 {:args [{:op :keys,
                                                                                :opt {:errors :sequential,
                                                                                      :mode :keyword},
                                                                                :req {:tokens :sequential}}],
                                                                        :ret :seqable}}}},
                                        lox.environment {resolve-address {:arities {3 {:args [:sequential
                                                                                              {:op :keys,
                                                                                               :opt {:literal :any},
                                                                                               :req {:type :keyword,
                                                                                                     :lexeme :string,
                                                                                                     :line :int}}
                                                                                              :nilable/int],
                                                                                       :ret :int}}},
                                                         empty-env {:arities {0 {:args [], :ret :sequential}}},
                                                         define {:arities {3 {:args [:sequential
                                                                                     {:op :keys,
                                                                                      :opt {:literal :any},
                                                                                      :req {:type :keyword,
                                                                                            :lexeme :string,
                                                                                            :line :int}}
                                                                                     :any],
                                                                              :ret :sequential}}}}}}}}
