{:suites
 {"chap04_scanning"     {:language "java",
                         :rules    {"craftinginterpreters/test" :skip, "craftinginterpreters/test/scanning" :pass}},
  "chap06_parsing"      {:language "java",
                         :rules    {"craftinginterpreters/test" :skip,
                                    "craftinginterpreters/test/expressions/parse.lox" :pass}},
  "chap07_evaluating"   {:language "java",
                         :rules    {"craftinginterpreters/test" :skip,
                                    "craftinginterpreters/test/expressions/evaluate.lox" :pass}},
  "chap08_statements"   {:includes [:early-chapters :java-nan-equality :no-java-limits :no-java-functions
                                    :no-java-resolution :no-java-classes],
                         :language "java",
                         :rules    {"craftinginterpreters/test" :pass,
                                    "craftinginterpreters/test/block/empty.lox" :skip,
                                    "craftinginterpreters/test/for" :skip,
                                    "craftinginterpreters/test/if" :skip,
                                    "craftinginterpreters/test/logical_operator" :skip,
                                    "craftinginterpreters/test/variable/unreached_undefined.lox" :skip,
                                    "craftinginterpreters/test/while" :skip}},
  "chap09_control"      {:includes [:early-chapters :java-nan-equality :no-java-limits :no-java-functions
                                    :no-java-resolution :no-java-classes],
                         :language "java",
                         :rules    {"craftinginterpreters/test" :pass}},
  "chap10_functions"    {:includes [:early-chapters :java-nan-equality :no-java-limits :no-java-resolution
                                    :no-java-classes],
                         :language "java",
                         :rules    {"craftinginterpreters/test" :pass}},
  "chap11_resolving"    {:includes [:early-chapters :java-nan-equality :no-java-limits :no-java-classes],
                         :language "java",
                         :rules    {"craftinginterpreters/test" :pass}},
  "chap12_classes"      {:includes [:early-chapters :no-java-limits :java-nan-equality],
                         :language "java",
                         :rules    {"craftinginterpreters/test" :pass,
                                    "craftinginterpreters/test/class/inherit_self.lox" :skip,
                                    "craftinginterpreters/test/class/inherited_method.lox" :skip,
                                    "craftinginterpreters/test/class/local_inherit_other.lox" :skip,
                                    "craftinginterpreters/test/class/local_inherit_self.lox" :skip,
                                    "craftinginterpreters/test/inheritance" :skip,
                                    "craftinginterpreters/test/regression/394.lox" :skip,
                                    "craftinginterpreters/test/super" :skip}},
  "chap13_inheritance"  {:includes [:early-chapters :java-nan-equality :no-java-limits],
                         :language "java",
                         :rules    {"craftinginterpreters/test" :pass}},
  "chap17_compiling"    {:language "c",
                         :rules    {"craftinginterpreters/test" :skip,
                                    "craftinginterpreters/test/expressions/evaluate.lox" :pass}},
  "chap18_types"        {:language "c",
                         :rules    {"craftinginterpreters/test" :skip,
                                    "craftinginterpreters/test/expressions/evaluate.lox" :pass}},
  "chap19_strings"      {:language "c",
                         :rules    {"craftinginterpreters/test" :skip,
                                    "craftinginterpreters/test/expressions/evaluate.lox" :pass}},
  "chap20_hash"         {:language "c",
                         :rules    {"craftinginterpreters/test" :skip,
                                    "craftinginterpreters/test/expressions/evaluate.lox" :pass}},
  "chap21_global"       {:includes [:early-chapters :no-c-control-flow :no-c-functions :no-c-classes],
                         :language "c",
                         :rules    {"craftinginterpreters/test" :pass,
                                    "craftinginterpreters/test/assignment/local.lox" :skip,
                                    "craftinginterpreters/test/block/scope.lox" :skip,
                                    "craftinginterpreters/test/variable/duplicate_local.lox" :skip,
                                    "craftinginterpreters/test/variable/in_middle_of_block.lox" :skip,
                                    "craftinginterpreters/test/variable/in_nested_block.lox" :skip,
                                    "craftinginterpreters/test/variable/scope_reuse_in_different_blocks.lox" :skip,
                                    "craftinginterpreters/test/variable/shadow_and_local.lox" :skip,
                                    "craftinginterpreters/test/variable/shadow_global.lox" :skip,
                                    "craftinginterpreters/test/variable/shadow_local.lox" :skip,
                                    "craftinginterpreters/test/variable/undefined_local.lox" :skip,
                                    "craftinginterpreters/test/variable/use_local_in_initializer.lox" :skip}},
  "chap22_local"        {:includes [:early-chapters :no-c-control-flow :no-c-functions :no-c-classes],
                         :language "c",
                         :rules    {"craftinginterpreters/test" :pass}},
  "chap23_jumping"      {:includes [:early-chapters :no-c-functions :no-c-classes],
                         :language "c",
                         :rules    {"craftinginterpreters/test" :pass}},
  "chap24_calls"        {:includes [:early-chapters :no-c-classes],
                         :language "c",
                         :rules    {"craftinginterpreters/test" :pass,
                                    "craftinginterpreters/test/closure" :skip,
                                    "craftinginterpreters/test/for/closure_in_body.lox" :skip,
                                    "craftinginterpreters/test/for/return_closure.lox" :skip,
                                    "craftinginterpreters/test/function/local_recursion.lox" :skip,
                                    "craftinginterpreters/test/limit/too_many_upvalues.lox" :skip,
                                    "craftinginterpreters/test/regression/40.lox" :skip,
                                    "craftinginterpreters/test/while/closure_in_body.lox" :skip,
                                    "craftinginterpreters/test/while/return_closure.lox" :skip}},
  "chap25_closures"     {:includes [:early-chapters :no-c-classes],
                         :language "c",
                         :rules    {"craftinginterpreters/test" :pass}},
  "chap26_garbage"      {:includes [:early-chapters :no-c-classes],
                         :language "c",
                         :rules    {"craftinginterpreters/test" :pass}},
  "chap27_classes"      {:includes [:early-chapters :no-c-inheritance],
                         :language "c",
                         :rules    {"craftinginterpreters/test" :pass,
                                    "craftinginterpreters/test/assignment/to_this.lox" :skip,
                                    "craftinginterpreters/test/class/local_reference_self.lox" :skip,
                                    "craftinginterpreters/test/class/reference_self.lox" :skip,
                                    "craftinginterpreters/test/closure/close_over_method_parameter.lox" :skip,
                                    "craftinginterpreters/test/constructor" :skip,
                                    "craftinginterpreters/test/field/get_and_set_method.lox" :skip,
                                    "craftinginterpreters/test/field/method.lox" :skip,
                                    "craftinginterpreters/test/field/method_binds_this.lox" :skip,
                                    "craftinginterpreters/test/method" :skip,
                                    "craftinginterpreters/test/operator/equals_class.lox" :skip,
                                    "craftinginterpreters/test/operator/equals_method.lox" :skip,
                                    "craftinginterpreters/test/return/in_method.lox" :skip,
                                    "craftinginterpreters/test/this" :skip,
                                    "craftinginterpreters/test/variable/local_from_method.lox" :skip}},
  "chap28_methods"      {:includes [:early-chapters :no-c-inheritance],
                         :language "c",
                         :rules    {"craftinginterpreters/test" :pass}},
  "chap29_superclasses" {:includes [:early-chapters], :language "c", :rules {"craftinginterpreters/test" :pass}},
  "chap30_optimization" {:includes [:early-chapters], :language "c", :rules {"craftinginterpreters/test" :pass}},
  "clox"                {:includes [:early-chapters], :language "c", :rules {"craftinginterpreters/test" :pass}},
  "jlox"                {:includes [:early-chapters :java-nan-equality :no-java-limits],
                         :language "java",
                         :rules    {"craftinginterpreters/test" :pass}}},
 :vars {:early-chapters     {"craftinginterpreters/test/expressions" :skip, "craftinginterpreters/test/scanning" :skip},
        :java-nan-equality  {"craftinginterpreters/test/number/nan_equality.lox" :skip},
        :no-c-classes       {"craftinginterpreters/test/assignment/to_this.lox" :skip,
                             "craftinginterpreters/test/call/object.lox" :skip,
                             "craftinginterpreters/test/class" :skip,
                             "craftinginterpreters/test/closure/close_over_method_parameter.lox" :skip,
                             "craftinginterpreters/test/constructor" :skip,
                             "craftinginterpreters/test/field" :skip,
                             "craftinginterpreters/test/inheritance" :skip,
                             "craftinginterpreters/test/method" :skip,
                             "craftinginterpreters/test/number/decimal_point_at_eof.lox" :skip,
                             "craftinginterpreters/test/number/trailing_dot.lox" :skip,
                             "craftinginterpreters/test/operator/equals_class.lox" :skip,
                             "craftinginterpreters/test/operator/equals_method.lox" :skip,
                             "craftinginterpreters/test/operator/not.lox" :skip,
                             "craftinginterpreters/test/operator/not_class.lox" :skip,
                             "craftinginterpreters/test/regression/394.lox" :skip,
                             "craftinginterpreters/test/return/in_method.lox" :skip,
                             "craftinginterpreters/test/super" :skip,
                             "craftinginterpreters/test/this" :skip,
                             "craftinginterpreters/test/variable/local_from_method.lox" :skip},
        :no-c-control-flow  {"craftinginterpreters/test/block/empty.lox" :skip,
                             "craftinginterpreters/test/for" :skip,
                             "craftinginterpreters/test/if" :skip,
                             "craftinginterpreters/test/limit/loop_too_large.lox" :skip,
                             "craftinginterpreters/test/logical_operator" :skip,
                             "craftinginterpreters/test/variable/unreached_undefined.lox" :skip,
                             "craftinginterpreters/test/while" :skip},
        :no-c-functions     {"craftinginterpreters/test/call" :skip,
                             "craftinginterpreters/test/closure" :skip,
                             "craftinginterpreters/test/for/closure_in_body.lox" :skip,
                             "craftinginterpreters/test/for/return_closure.lox" :skip,
                             "craftinginterpreters/test/for/return_inside.lox" :skip,
                             "craftinginterpreters/test/for/syntax.lox" :skip,
                             "craftinginterpreters/test/function" :skip,
                             "craftinginterpreters/test/limit/no_reuse_constants.lox" :skip,
                             "craftinginterpreters/test/limit/stack_overflow.lox" :skip,
                             "craftinginterpreters/test/limit/too_many_constants.lox" :skip,
                             "craftinginterpreters/test/limit/too_many_locals.lox" :skip,
                             "craftinginterpreters/test/limit/too_many_upvalues.lox" :skip,
                             "craftinginterpreters/test/regression/40.lox" :skip,
                             "craftinginterpreters/test/return" :skip,
                             "craftinginterpreters/test/unexpected_character.lox" :skip,
                             "craftinginterpreters/test/variable/collide_with_parameter.lox" :skip,
                             "craftinginterpreters/test/variable/duplicate_parameter.lox" :skip,
                             "craftinginterpreters/test/variable/early_bound.lox" :skip,
                             "craftinginterpreters/test/while/closure_in_body.lox" :skip,
                             "craftinginterpreters/test/while/return_closure.lox" :skip,
                             "craftinginterpreters/test/while/return_inside.lox" :skip},
        :no-c-inheritance   {"craftinginterpreters/test/class/inherit_self.lox" :skip,
                             "craftinginterpreters/test/class/inherited_method.lox" :skip,
                             "craftinginterpreters/test/class/local_inherit_other.lox" :skip,
                             "craftinginterpreters/test/class/local_inherit_self.lox" :skip,
                             "craftinginterpreters/test/inheritance" :skip,
                             "craftinginterpreters/test/regression/394.lox" :skip,
                             "craftinginterpreters/test/super" :skip},
        :no-java-classes    {"craftinginterpreters/test/assignment/to_this.lox" :skip,
                             "craftinginterpreters/test/call/object.lox" :skip,
                             "craftinginterpreters/test/class" :skip,
                             "craftinginterpreters/test/closure/close_over_method_parameter.lox" :skip,
                             "craftinginterpreters/test/constructor" :skip,
                             "craftinginterpreters/test/field" :skip,
                             "craftinginterpreters/test/inheritance" :skip,
                             "craftinginterpreters/test/method" :skip,
                             "craftinginterpreters/test/number/decimal_point_at_eof.lox" :skip,
                             "craftinginterpreters/test/number/trailing_dot.lox" :skip,
                             "craftinginterpreters/test/operator/equals_class.lox" :skip,
                             "craftinginterpreters/test/operator/equals_method.lox" :skip,
                             "craftinginterpreters/test/operator/not_class.lox" :skip,
                             "craftinginterpreters/test/regression/394.lox" :skip,
                             "craftinginterpreters/test/return/in_method.lox" :skip,
                             "craftinginterpreters/test/super" :skip,
                             "craftinginterpreters/test/this" :skip,
                             "craftinginterpreters/test/variable/local_from_method.lox" :skip},
        :no-java-functions  {"craftinginterpreters/test/call" :skip,
                             "craftinginterpreters/test/closure" :skip,
                             "craftinginterpreters/test/for/closure_in_body.lox" :skip,
                             "craftinginterpreters/test/for/return_closure.lox" :skip,
                             "craftinginterpreters/test/for/return_inside.lox" :skip,
                             "craftinginterpreters/test/for/syntax.lox" :skip,
                             "craftinginterpreters/test/function" :skip,
                             "craftinginterpreters/test/operator/not.lox" :skip,
                             "craftinginterpreters/test/regression/40.lox" :skip,
                             "craftinginterpreters/test/return" :skip,
                             "craftinginterpreters/test/unexpected_character.lox" :skip,
                             "craftinginterpreters/test/while/closure_in_body.lox" :skip,
                             "craftinginterpreters/test/while/return_closure.lox" :skip,
                             "craftinginterpreters/test/while/return_inside.lox" :skip},
        :no-java-limits     {"craftinginterpreters/test/limit/loop_too_large.lox"     :skip,
                             "craftinginterpreters/test/limit/no_reuse_constants.lox" :skip,
                             "craftinginterpreters/test/limit/stack_overflow.lox"     :skip,
                             "craftinginterpreters/test/limit/too_many_constants.lox" :skip,
                             "craftinginterpreters/test/limit/too_many_locals.lox"    :skip,
                             "craftinginterpreters/test/limit/too_many_upvalues.lox"  :skip},
        :no-java-resolution {"craftinginterpreters/test/closure/assign_to_shadowed_later.lox" :skip,
                             "craftinginterpreters/test/function/local_mutual_recursion.lox" :skip,
                             "craftinginterpreters/test/return/at_top_level.lox" :skip,
                             "craftinginterpreters/test/variable/collide_with_parameter.lox" :skip,
                             "craftinginterpreters/test/variable/duplicate_local.lox" :skip,
                             "craftinginterpreters/test/variable/duplicate_parameter.lox" :skip,
                             "craftinginterpreters/test/variable/early_bound.lox" :skip,
                             "craftinginterpreters/test/variable/use_local_in_initializer.lox" :skip}}}
